/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f2f9; /* Fondo en rosa claro */
    color: #333333;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    color: #a052a0; /* Tono más oscuro de rosa */
    margin: 20px 0;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #d48bbd; /* Rosa intenso */
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-bottom: 20px;
  }
  
  a:hover {
    background-color: #a052a0; /* Más oscuro */
  }
  
  #detalles-producto {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  
  #detalles-producto h2 {
    color: #a052a0; /* Rosa oscuro */
    margin: 0 0 10px;
    text-align: center;
    width: 100%;
  }
  
  #detalles-producto img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 8px;
    margin: 0 auto 20px;
    align-self: center;
  }
  
  #detalles-producto p {
    font-size: 0.9rem;
    color: #6b6b6b;
    margin: 5px 0;
    width: 100%;
  }
  
  #comprar-btn {
    display: block;
    margin: 20px auto 0;
    background-color: #a052a0; /* Rosa oscuro */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #comprar-btn:hover {
    background-color: #6b4270; /* Más oscuro */
  }
  