@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:wght@300..700&display=swap');

/* General */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f2f9; /* Fondo rosa claro */
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d48bbd; /* Rosa intenso */
  color: white;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-family: 'Dancing Script', cursive;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Carrito Container */
#carrito-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.carrito-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: #fefefe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carrito-image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}

.carrito-info {
  flex: 1;
}

.carrito-info h4 {
  margin: 0;
  font-size: 1.2rem;
  color: #a052a0;
}

.carrito-info p {
  margin: 5px 0;
  font-size: 1rem;
  color: #6b6b6b;
}

.carrito-item button {
  background-color: #d48bbd;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carrito-item button:hover {
  background-color: #a052a0; /* Más oscuro */
}

/* Total y botones */
#carrito-total {
  font-size: 1.5rem;
  font-weight: bold;
  color: #a052a0;
  text-align: center;
  margin-bottom: 20px;
}

/* Botones generales */
.boton {
  display: block;
  width: 30%;
  margin: 0px auto;
  background-color: #d48bbd;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  margin-bottom: 5px;
}

.boton:hover {
  background-color: #a052a0;
}


a {
  width: 70%;
  margin: 0 auto;
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #eac2df; /* Rosa suave */
  color: #333;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: bold;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #d48bbd; /* Rosa más intenso */
  color: white;
}
